body, header, nav, footer, main, div, img, h1, h2, h3{
	margin: 0;
	padding: 0;
	border: 0;
}

/*Style rules for mobile*/
@media screen and (max-width: 480px){
 
	.tablet-desktop{
		display: none;
	}

	body{
		margin: 1em;
	}

	header{
		text-align: center;

	}

	/*style rules for nav*/
	nav{
		border: solid 2px #bababa;
	}

	nav ul{
		list-style-type: none;
		text-align: center;
		margin: 0;
		padding: 0;
	}

	nav ul li{
		font-size: 1.2em;
		border-top: solid 2px #bababa;
	}

	nav ul li:first-child{
		border-top: none;
	}

	nav li a{
		display: block;
		padding: .5em 1em;
	}

	/*style rules for main content*/
	main{
		margin-top: 1em;
		border: solid 2px #bababa;
		padding: .5em;
	}

	.changelog{
		padding: .5em;
	}

	.changelog-update-description{
		margin: 1%;
		font-size: 12px;
	}

	.projects-main{
		border: none;
		padding: 0;
	}

	.contact{
		padding: .5em;
	}
	#contact-map{
		text-align: center;
	}

	.map{
		width: 90%;
		height: 50%;
		border: solid 2px #191919;
	}
}
/*end of style rules for mobile ----------------- */





/*style rules for tablet*/

/* and (max-width: 795px) */
@media screen and (min-width: 481px){
	/*Style rules for the layout*/

	.mobile{
		display: none;
	}
	.tablet-desktop{
		display: block;
	}

	.grid-header{
		grid-area: header;
	}

	.grid-nav{
		grid-area: nav;
	}

	.grid-left{
		grid-area: left;
	}

	.grid-main{
		grid-area: main;
	}

	.grid-right-1{
		grid-area: right-1;
	}

	/*grid layout for tablet*/

	/*grid layout for index page on tablet*/
	.grid-container-index{
		display: grid;
		grid-template-areas:
			'header header'
			'nav nav'
			'main right-1';
		grid-template-columns: 4fr 2fr ;
	}
	/* End of style rules for layout */

	*{
		box-sizing: border-box;
	}

	
	a{
		color: #3344ff;
	}

	a:visited{
		color: #6622ff;
	}
	

	body{
		margin: 0 3%;
		background-image: repeating-linear-gradient(175deg, #000, #000 25px, #0a0a0a 25px, #0a0a0a 45px);
	}

	header{
		color: #fff;
		font-size: 1.25em;
		text-align: center;
		padding: 2em;
	}

	nav{
		border: solid 2px #bababa;
		background-color: #0c0c0c;
		text-align: center;
	}

	nav ul{
		list-style-type: none;
		display: flex;
		justify-content: space-evenly;
		padding: 0;
	}

	nav li{
		display: inline-block;
	}

	nav li a{
		display: block;
		font-size: 1.5em;
		padding: .25em;
	}

	main{
		border: solid 2px #bababa;
		background-color: #0c0c0c;
		color: #fff;
		padding: 1em;
		margin: 1em 0 0 0;

	}

	.right-1{
		border: solid 2px #bababa;
		background-color: #0c0c0c;
		color: #fff;
		padding: 1em;
		margin: 1em 0 0 1em;
	}
}
/* end of style rules for tablet -----------*/





/*style rules for desktop*/ 

@media screen and (min-width: 796px){

	

	/*grid layout on pages other than index*/
	.grid-container{
		display: grid;
		grid-template-areas: 
			'header header'
			'left nav'
			'left main';

		grid-template-columns: 1fr 4fr;
		grid-template-rows: 0fr 0fr 2fr;
	}

	/*grid layout for the index page*/
	.grid-container-index{
		display: grid;
		grid-template-areas:
			'header header header'
			'left nav nav'
			'left main right-1'
			'left main .';
		grid-template-columns:1fr 3fr 1fr;
		grid-template-rows: 0fr 0fr 1fr 1fr;
	}
	/*end of style rules for layout*/
	

	body{
		margin: 0 5%;
		background-color: #000;

	}

	
	.bg-animation{
		background-image: repeating-linear-gradient(0deg, transparent, transparent 10px, rgba(15,15,15,0.5) 10px, rgba(15,15,15,0.5) 25px);
		animation: bg-animation-1 3s linear infinite;
	}

	
	
	/*Style rule for header*/
	header{
		font-size: 2.5em;
		color: #fff;
		padding: 2%;
	}

	/*Style rules for the nav*/
	nav{
		border-left: none;
	}

	nav li a{
		font-size: 1.25em;
		padding: .5em;
	}


	/*Style rules for main*/
	main{
		margin: 1em 0 0 1em;
	}


	/*style rules for the left side bar*/
	.left-bar{
		border: solid 2px #bababa;
		background-color: #0c0c0c;
		color: #fff;
		text-align: center;
		padding: 1rem;
	}

	.left-bar h2{
		font-family: tomorrow;
		background: linear-gradient(
			#f00, #f00 27%,
			transparent 27%, transparent 34%,
			#f00 34%, #f00 41%,
			transparent 41%, transparent 48%,
			#f00 48%, #f00 55%,
			transparent 55%, transparent 62%,
			#f00 62%, #f00 100%
		);
		background-clip: text;
		color: transparent;
		display: inline;
	}

	.left-bar h3{
		color: #fff;
	}

	.site-map{
		list-style-type: none;
		text-align: center;
		padding: 0;
	}

	/*styling used on index*/

	/*gives the header on index a gradient*/
	#index-header{
		font-family: Tomorrow, Times, serif;
		font-size: 2em;
		background: linear-gradient(#000, #000 39%, #2213a5 51%, #8b7ce0 63%, #000, #000 67%, #7824a8 75%, #b77cd3 83%, #d99ef5 90%,#fff 100% );
		background-clip: text;
		color: transparent;
		display: inline;
		position: relative;
	}
	/*gives the header on index a shadow*/
	#index-header::after{
		text-shadow:
			1px 1px 1px #585858, 1px -1px 1px #585858, -1px 1px 1px #585858, -1px -1px 1px #585858,
			2px 2px 1px #5f5f5f, 3px 3px 1px #686868, 4px 4px 1px #6f6f6f, 5px 5px 1px #787878, 6px 6px 1px #7f7f7f, 7px 7px 1px #888888, 8px 8px 1px #8f8f8f;
		position: absolute;
		top: 0;
		left: 0;
		content: attr(data-title);
		color: transparent;
		z-index: -1;
	}

	.right-1{
		border-color: #00ff00;
		border-radius: 15px;
	}

	/*styling used on changelog page and projects page*/
	.version-update, .chapter{
		border: solid 2px #bababa;
		background-color: #0c0c0c;
		padding: 1em;
		margin-bottom: 1em;
		width: 100%;
	}

	.version-update:last-child, .chapter:last-child{
		margin-bottom: 0;
	}

	.section-title{
		text-align: center;
		padding: 2rem;
	}

	/*hides mains styling. used on: changelog(desktop), projects(desktop)*/
	.hide-main{
		background: none;
		border: none;
		padding: 0;
	}

	.svg{
		position: absolute;
		border: solid 2px #bababa;
	}

	#countdown{
		font-size: 250%;
		text-align: center;
		margin: auto;
	}
	#countdownText{
		font-size: 100%;
		text-align: center;
		margin: auto;
	}

	/* Background animation */
	@keyframes bg-animation-1{
		0%{background-position: 0 0;}
		100%{background-position: 0 25px;}
	}
}